<web-app>

    <servlet>
        <servlet-name>Servlet.HelloW</servlet-name>
        <servlet-class>Servlet.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet.HelloW</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

</web-app>